body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background: linear-gradient(90deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); 
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}

.header{
    width: fit-content;
    margin: auto;
}

.header .title{
    display: grid;
    grid-template-columns: 1fr 5fr;
    max-width: 85vw;
    align-items: center;
}

.header h1{
    text-size-adjust: auto;
}

.header h1#serv-ip{
    width: 0%;
    color: orange;
    font-size: 3rem; 
    margin-left: .3rem;
    width: fit-content;
    
    /* text-shadow: 1px 1px 13px orange; */
    
}

.header #status{
    font-size: 1.5rem;  
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.header #status span{
    
    color: green;
}


.header #status.down span{
    font-size: 1.5rem;  
    font-weight: bold;
    color: red;
}

.section-player-list{
    width: 90%;
}

.player-list{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

.player{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 80%;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.2);
    padding: 1rem;
}

.player img{
    max-height: 10vh;
}

.player p{
    font-weight: bold;
    font-size: 1.5rem;
}

.serv-icon{
    position: absolute;
    top: 0px;
    left: 0px;
}

.serv-icon img{
    border-radius: 0 0 1rem 0;
}

.type-writer{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .1em;
    animation: 
        typing 3.5s steps(33, end),
        blink-caret .75s 3.5s step-end infinite; 
}

.error-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;
}

.error{
    background-color: darkred;
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}



/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100%; max-width: fit-content; }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }